.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.modal {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  align-items: center;
  justify-content: left;
}
.open {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #7f7f7f;
  padding: 20px;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.modal-content {
  margin-top: 40px;
  max-width: 800px;

  display: flex;
  background-color: #fff;
  padding: 40px;
  align-items: center;
  justify-content: center;
  cursor: crosshair;
}

.submit-button {
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #3d80e3;
  color: white;
  cursor: pointer;
}
